
  * {
    margin: 0;
    padding: 0;
  }
  
  body{
    margin: 0 auto;
    height: 100%;
  
  }
  
  header {
    width: 100%;
    height: auto;
    
  }
 
  .container-head{
    display: flex;
    justify-content: space-between;
  }
  
  .company{
    display: flex;
    flex:1;
    background-color: #e6e6e6;
    justify-content: flex-start;
    padding-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
  }
  
  
  #head-menu{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    height: 100%;
    margin-bottom: auto;
    margin-top: auto;
  }

  #head-menu> ul >li {
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
  }
  
  #head-menu> ul >li>a{
   text-decoration: none;
   color: black;
  }
  
  /*ヘッダーここまで*/
.wrapper-company{
  width: 100%;
  background-color: white;
  
}

.box1{
  position: relative;
  height: 700px;
  width: 729px;
  background-color: #e6e6e6;
}

.main-img{
    width: 60%;
    height: 60%;
    position: relative;
    left: 600px;
    z-index: 2;
    top: -700px;
    
}

.main-text{
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    left: auto;
    top: -1000px;
    z-index: 3;
    right: 450px;
    background-color: rgba(255,255,255,0.7);
}

/*.mainvisual {*/
/*   position: relative;*/
/*   height: 600px;*/
/*}*/

/*.mainvisual img {*/
/*   width: 70%;*/
/*   height: 500px;*/
/*   object-fit: cover;*/
/*   margin-left: 30%;*/
/*}*/

/*.mainvisual h2 {*/
/*   position: absolute;*/
/*   top: 30%;*/
/*   left: 20%;*/
/*   background: rgba(255, 255, 255, 0.6);*/
/*   font-size: 3rem;*/
/*   padding: 1rem;*/
/*}*/

/*.bg1 {*/
/*   background: #e8e7e7;*/
/*   height: 700px;*/
/*   width: 45%;*/
/*   position: absolute;*/
/*   top: -18%;*/
/*   left: 0;*/
/*   z-index: -1;*/
/*}*/
    
/*事業内容ここから*/
.wrapper-secound{
  position: absolute;
    z-index: 3;
    top: 600px;
    left: 100px;
}

.buisiness{
  text-align: center;
}

.wrapper-secound>#buisiness-desc{
  display: flex;
}

.content{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.news-desc{
  width: 1263px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.news{
  text-align: center;
}

table{
  border-collapse: collapse;
}

.news-desc > tr {
  border-bottom: solid 1px #ccc;
}


